///////////////////////////////////////////////////////////////////////////////////////
//                                                                                   //
//                      FILE FOR STYLE HEADER COMPONENT                              //
//                                                                                   //
///////////////////////////////////////////////////////////////////////////////////////


@import "../../../../styles/_config.scss";
.centertopbar {
  padding: 15px 0;
  background-color: $white;
    @media (max-width: 767px) {
      .cart span{
        display: none;
      }
    }

}
.header_cover{
  border-bottom: 1px solid $border-color;
  padding: 15px 0;
  .lefttopbar {
    padding: 15px 0;
    background-color: $white;
      @media (max-width: 767px) {
        .cart span{
          display: none;
        }
      }

  }
}