///////////////////////////////////////////////////////////////////////////////////////
//                                                                                   //
//                 FILE FOR STYLE DEPARTURE COMPONENT.                               //
//                                                                                   //
///////////////////////////////////////////////////////////////////////////////////////


@import "../../../../styles/_config.scss";
.Activities {
  text-align: left;
  background-color: #e4eaf1;
  margin-top: 30px;
  border-radius: 6px;
    .day{
        background-color: $primary-color;
        color: $white;
        text-align: center;
        padding: 16px 10px;
        border-radius: 6px 0px 0px 6px;
        font-weight: 700;
    }
    .head{
        padding: 15px 0;
    }
    .date{
        font-size: 12px;
        font-weight: 400;
    }
  
    span{
        font-size: 18px;
        font-weight: 700;
        padding: 0px 10px;
    }
   .flight{
       text-align: end;
       padding: 15px 10px;
       span{
        font-size: 13px;
       }
   }
   @media (max-width: 767px) {
    .day{
        border-radius: 7px 7px 0 0;
    }
   }
}
.details{
    padding: 20px 0;
    position: relative;
    .list li{
        font-weight: 600;
        line-height: 30px;
    } 
    .button {
        position: absolute;
        bottom: 30px;
        right: 0;
         }
        button{
         padding: 10px 20px;
        }
        @media (max-width: 767px) {
            .button{
                position: initial;
                button{
                    width: 100%;
                }
            }
        
          }   
}
