///////////////////////////////////////////////////////////////////////////////////////
//                                                                                   //
//                 FILE FOR STYLE DETAIL LISTING PROBOX COMPONENT.                   //
//                                                                                   //
///////////////////////////////////////////////////////////////////////////////////////


@import "../../../../styles/_config.scss";
.list_probox {
  text-align: left;
  padding-top: 20px;
  h4{
    color: $primary-color;
  }
}