///////////////////////////////////////////////////////////////////////////////////////////////////
//                                                                                               //
//               In side this file there will be commen styles for the project.                  //
//                                                                                               //
///////////////////////////////////////////////////////////////////////////////////////////////////

@import "./_config.scss";

.modalShow{
    .modal-content{
        margin-left: 20%;
        margin-right: 20%;
    }
}
.btntype1 {
    background-color: #fe6652;
    border-color: #fe6652;
    padding: 13px 10px 14px;
}